.w_t{
    width: 80px !important;
    height: 4px !important;
    background-color: black;
    display: inline-block;
}

.btn{
    background-color: #1abc9c;
    color: white;
    padding: 6px 14px;
    border-radius: 3px;
    margin-top: 20px;
    border: unset;
}
